
//colors
$dark-blue: #023a40;
$light-blue: #84d9d9;
$yellow: #f2b807;
$pink: #d95b5b;

//fonts
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
$body-font: 'Inter', sans-serif;

